In [1]:

!apt updateapt update
!pip install mdbtools-dev
!apt-get install mdbtools
!pip install pandas pyodbc
!pip install pymssql
!pip install tempfile2
import warnings
warnings.filterwarnings('ignore')

E: Invalid operation updateapt
ERROR: Could not find a version that satisfies the requirement mdbtools-dev (from versions: none)
ERROR: No matching distribution found for mdbtools-dev
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mdbtools is already the newest version (1.0.0+dfsg-1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: pyodbc in /usr/local/lib/python3.10/dist-packages (5.2.0)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pymssql in /usr/local/lib/python3.10/dist-packages (2.3.2)
Requirement already satisfied: tempfile2 in /usr/local/lib/python3.10/dist-packages (0.1.2)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import sys
sys.path.append('/content/drive/MyDrive/Dev/py2/')
import numpy as np

import pandas as pd
from google.colab import files
import os
import subprocess
from io import StringIO  # StringIOを正しくインポート
import model.utility.k_analysis_util as k_a_util
from IPython.display import display

from google.colab import drive
import matplotlib.pyplot as plt
import seaborn as sns

import model.utility.k_analysis_util as k_analysis_util

Standard Output:

Standard Error:
File not found
Unable to locate database path_to_your_mdb_file.mdb
You must connect to a database first
Got no result for 'SELECT * FROM your_view_name' command

EmptyDataError: No columns to parse from file. The query might have returned no results.

In [4]:
#db_path = "/content/drive/MyDrive/Dev/Kjvan/kjdb_prediction_cache_2024.accdb"
db_path = "/content/drive/MyDrive/Dev/Kjvan/kjdb.accdb"

In [5]:
program_id = '2024012805'
race_no = '10'
cmd = f"select * from HorseResult where rr_r_id='{program_id}' and rr_r_race='{race_no}'"
#cmd = f"select * from HorseResult"
print(cmd)

select * from HorseResult where rr_r_id='2024012805' and rr_r_race='10'

In [7]:

df_re = k_analysis_util.execute_mdb_sql(db_path, cmd)

Standard Output:


Standard Error:
HorseResult is not a table in this database
Got no result for 'select * from HorseResult where rr_r_id='2024012805' and rr_r_race='10'
' command

EmptyDataError: No columns to parse from file. The query might have returned no results.

In [8]:
import subprocess

def list_mdb_tables(mdb_file_path: str):
    cmd = ['mdb-tables', mdb_file_path]
    process = subprocess.Popen(
        cmd,
        stdout=subprocess.PIPE,
        stderr=subprocess.PIPE,
        text=True
    )
    stdout, stderr = process.communicate()

    if process.returncode != 0:
        print(f"Error listing tables: {stderr}")
        return []

    tables = stdout.split()
    return tables

tables = list_mdb_tables(db_path)
print("Tables and Views:", tables)

Tables and Views: ['ProgramHeader', 'RaceHeader', 'TimeDescribes']