In [1]:
!pip install mdbtools-dev
!apt-get install mdbtools
!pip install pandas pyodbc
!pip install tempfile2

ERROR: Could not find a version that satisfies the requirement mdbtools-dev (from versions: none)
ERROR: No matching distribution found for mdbtools-dev
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libmdb3 libmdbsql3
Suggested packages:
  bash-completion
The following NEW packages will be installed:
  libmdb3 libmdbsql3 mdbtools
0 upgraded, 3 newly installed, 0 to remove and 29 not upgraded.
Need to get 136 kB of archives.
After this operation, 486 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 libmdb3 amd64 1.0.0+dfsg-1 [68.9 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/universe amd64 libmdbsql3 amd64 1.0.0+dfsg-1 [18.8 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 mdbtools amd64 1.0.0+dfsg-1 [48.3 kB]
Fetched 136 kB in 1s (260 kB/s)
Selecting previously unselected package libmdb3:amd64.
(Reading database ... 124947 files and directories currently installed.)
Preparing to unpack .../libmdb3_1.0.0+dfsg-1_amd64.deb ...
Unpacking libmdb3:amd64 (1.0.0+dfsg-1) ...
Selecting previously unselected package libmdbsql3:amd64.
Preparing to unpack .../libmdbsql3_1.0.0+dfsg-1_amd64.deb ...
Unpacking libmdbsql3:amd64 (1.0.0+dfsg-1) ...
Selecting previously unselected package mdbtools.
Preparing to unpack .../mdbtools_1.0.0+dfsg-1_amd64.deb ...
Unpacking mdbtools (1.0.0+dfsg-1) ...
Setting up libmdb3:amd64 (1.0.0+dfsg-1) ...
Setting up libmdbsql3:amd64 (1.0.0+dfsg-1) ...
Setting up mdbtools (1.0.0+dfsg-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pyodbc-5.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.2/346.2 kB 12.3 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Collecting tempfile2
  Downloading tempfile2-0.1.2.tar.gz (3.1 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: tempfile2
  Building wheel for tempfile2 (setup.py) ... done
  Created wheel for tempfile2: filename=tempfile2-0.1.2-py3-none-any.whl size=2713 sha256=a3bd8e6e856f1c69d87afd7e4d3692c19d8d272001e8c007abd14226f4b3e415
  Stored in directory: /root/.cache/pip/wheels/d8/13/c7/7053b5958dafad5cb95b4e26b0df0dcf6ae3a7aa03fe1a02f9
Successfully built tempfile2
Installing collected packages: tempfile2
Successfully installed tempfile2-0.1.2

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import sys
sys.path.append('/content/drive/MyDrive/Dev/py2/')
import numpy as np

import pandas as pd
from google.colab import files
import os
import subprocess
from io import StringIO  # StringIOを正しくインポート
import model.utility.k_analysis_util as k_a_util
from IPython.display import display
from tqdm import trange

In [15]:

# 使用例
table_name = 'HorseResult'  # テーブル名を指定

years = range(2000, 2026)

k_a_util.prepare_pd_on_notebook()

dict_statistics={}
for i in trange(len(years)):
  y = years[i]
  filepath = f'/content/drive/MyDrive/Dev/Kjvan/kjdb_prediction_cache_{y}.accdb'
  df_summary = k_a_util.read_table(filepath, table_name)
  if(df_summary is not None):
    columns_to_drop = [ 'rr_r_id','rr_r_horse_name','rr_r_horse_id','rr_r_jockey','rr_r_horse_no', 'upd']
    df = df_summary.drop(columns=columns_to_drop)

    dict_statistics[y] = sorted_df

 88%|████████▊ | 23/26 [02:23<00:16,  5.48s/it]

Error: テーブル 'HorseResult' はファイル '/content/drive/MyDrive/Dev/Kjvan/kjdb_prediction_cache_2023.accdb' に存在しません。
Error: テーブル 'HorseResult' はファイル '/content/drive/MyDrive/Dev/Kjvan/kjdb_prediction_cache_2024.accdb' に存在しません。

100%|██████████| 26/26 [02:24<00:00,  5.55s/it]

In [16]:
dict_statistics[2000]

,rr_r_race,rr_r_rank,rr_r_waku,rr_r_blinker,rr_r_j_mark,rr_r_age,rr_r_gender,rr_r_burden,rr_r_weight,rr_r_gal_sign,rr_r_gal_val,rr_r_vote,rr_r_odds,rr_r_j_id,rr_r_t_id,rr_r_o_id,rr_r_trainer,rr_r_time,rr_r_f3_time,rr_r_diff1,rr_r_diff2,rr_r_diff3,rr_r_time_diff,rr_r_corner1,rr_r_corner2,rr_r_corner3,rr_r_corner4,rr_r_horse_sign,rr_r_varieties,rr_r_belongs,rr_m_jra_bilongs,rr_m_feet1,rr_m_feet2,rr_m_feet3,rr_m_feet4,rr_h_prev_id1,rr_h_prev_id2,rr_h_prev_id3,rr_h_prev_id4,rr_h_sc_prev_id1,rr_h_sc_prev_id2,rr_h_sc_prev_id3,rr_h_sc_prev_id4,rr_m_blood01,rr_m_blood02,rr_m_blood03,rr_m_blood04,rr_m_blood05,rr_m_blood06,rr_m_blood07,rr_m_blood08,rr_m_blood09,rr_m_blood10,rr_m_blood11,rr_m_blood12,rr_m_blood13,rr_m_blood14,rr_a_deviation,rr_a_deviation3f,rr_a_race_count,rr_r_err,rr_r_breeder_code,upd_t
0,05,07,5,0,0,04,2,540,466,+,002,01,0000,00000,00000,000000,津野総夫,1504,000,2,NaN,NaN,+031,00,00,00,00,00,1,0,0,000,000,000,000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0.064872317,0.5,0,0,00000000,NaN
1,05,03,1,0,0,04,2,540,456,+,006,03,0000,00000,00000,000000,高橋道雄,1485,000,6,NaN,NaN,+012,00,00,00,00,00,1,0,0,000,000,000,000,0000000000,0000000000,0000000000,0000000000,2000041660,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0.25655946,0.5,0,0,00000000,NaN
2,05,04,6,0,0,04,2,540,408,+,002,07,0000,00000,00000,000000,清野忠雄,1491,000,3,NaN,NaN,+018,00,00,00,00,00,1,0,0,000,000,000,000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0.17213656,0.5,0,0,00000000,NaN
3,05,02,7,0,0,04,3,550,424,+,014,07,0000,00000,00000,000000,赤間亨,1474,000,12,NaN,NaN,+001,00,00,00,00,00,1,0,0,000,000,001,003,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,1120001565,1220033795,1120001062,1220023632,1120000449,1220020962,1140000450,1240005039,1120000062,1220000428,1130000149,1240003463,1120000028,1210009010,0.46627539,0.5,0,0,70050600,NaN
4,05,08,3,0,0,04,2,540,440,+,004,04,0000,00000,00000,000000,松川史朗,1524,000,T,NaN,NaN,+051,00,00,00,00,00,1,0,0,002,005,011,008,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,1120000948,1220036227,1110000576,1220010362,1120000860,1220023461,1130000150,1240004038,1130000137,1230001117,1120000058,1220006662,1120000139,1220011523,0.012654158,0.5,0,0,20005900,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71821,11,02,7,0,0,05,1,545,470,NaN,000,04,0000,00000,00000,000000,井上孝彦,1482,000,34,NaN,NaN,+001,00,00,00,00,00,1,0,0,001,005,006,005,2000120909,2000112847,2000110860,2000101547,0000000000,0000000000,0000000000,0000000000,1120001046,1220025688,1140001310,1240005555,1120000415,1220012167,1130001359,1240005550,1130000842,1240005554,1130000096,1220005156,1110000960,1210008517,0.77563685,0.5,13,0,43005200,NaN
71822,11,10,5,0,0,05,1,545,478,+,002,05,0000,00000,00000,000000,岩田幸一,1498,000,12,NaN,NaN,+017,00,00,00,00,00,1,0,0,000,000,000,000,2000121148,2000033048,2000022948,2000021548,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,0.51017481,0.5,5,N,00000000,NaN
71823,11,11,3,0,0,05,1,520,506,+,012,06,0000,00000,00000,000000,松村勇,1503,000,212,NaN,NaN,+022,00,00,00,00,00,1,0,0,000,001,000,002,2000011848,1999010161,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,1120001525,1220025468,1140001909,1240010607,1140000948,1240005754,1130001153,1240004806,1140001376,1240010606,1130000169,1240003815,1140000057,1240005753,0.4172177,0.5,2,0,30030900,NaN
71824,11,06,8,0,0,05,1,520,460,-,004,09,0000,00000,00000,000000,瀬戸口悟,1492,000,1,NaN,NaN,+011,00,00,00,00,00,1,0,0,001,003,006,003,2000121248,2000012148,0000000000,0000000000,0000000000,0000000000,0000000000,0000000000,1120001382,1220029649,1140001308,1240009838,1120000593,1220017481,1130000169,1240002849,1130000104,1240008982,1110000883,1210007726,1120000421,1210006135,0.62024719,0.5,2,0,80037400,NaN
71825,11,01,5,0,0,04,1,540,460,+,010,01,0000,00000,00000,000000,国光徹,1481,000,NaN,NaN,NaN,-001,00,00,00,00,00,1,0,0,000,006,008,004,2000120909,2000110348,2000101408,2000091246,2000052107,0000000000,0000000000,0000000000,1120000842,1220039717,1130000096,1240004507,1120000901,1220028917,1130000102,1240001042,1130000557,1240004506,1130000019,1240004509,1120000453,1220011390,0.78841543,0.5,12,0,11033800,NaN

In [31]:
import pandas as pd
import matplotlib.pyplot as plt

def plot_histograms(dict_statistics, rows, cols, dpi=80):
    """
    指定された辞書の各DataFrameのヒストグラムをプロットする関数です。

    Args:
        dict_statistics: プロット対象のDataFrameを含む辞書。
        rows: グラフの行数。
        cols: グラフの列数。
        dpi: グラフの解像度。

    Returns:
        None
    """
    plt.subplots_adjust(wspace=0.4, hspace=1.0)
    for col, df in dict_statistics.items():
        df = df.sort_values(by="{col}")
        print(f"{col}")
        # グラフのサイズを指定
        fig, axes = plt.subplots(nrows=rows, ncols=cols, figsize=(cols*4, rows*3), dpi=dpi)

        # 各列のヒストグラムをプロット
        for i, y in enumerate(df.columns):
            ax = axes[i // cols, i % cols]
            df[y].hist(ax=ax, bins=20)  # ヒストグラムのビンの数を調整可能
            ax.set_title(y)

        # グラフのレイアウト調整
        #plt.tight_layout()
        plt.suptitle(f"Histograms for Year {col}", fontsize=14)

        # グラフの保存 (必要に応じて)
        # plt.savefig(f"histograms_{year}.png")
        plt.show()

In [ ]:
dict_results = k_a_util.pivot_statistics_by_column2(dict_statistics)

In [32]:
plot_histograms(dict_results, rows=4, cols=8, dpi=72)

rr_r_race
rr_r_rank
rr_r_waku
rr_r_blinker
rr_r_j_mark
rr_r_age
rr_r_gender
rr_r_burden
rr_r_weight
rr_r_gal_sign
rr_r_gal_val
rr_r_vote
rr_r_odds
rr_r_j_id
rr_r_t_id
rr_r_o_id
rr_r_trainer
rr_r_time
rr_r_f3_time
rr_r_diff1
rr_r_diff2
rr_r_diff3
rr_r_time_diff
rr_r_corner1
rr_r_corner2
rr_r_corner3
rr_r_corner4
rr_r_horse_sign
rr_r_varieties
rr_r_belongs
rr_m_jra_bilongs
rr_m_feet1
rr_m_feet2
rr_m_feet3
rr_m_feet4
rr_h_prev_id1
rr_h_prev_id2
rr_h_prev_id3
rr_h_prev_id4
rr_h_sc_prev_id1
rr_h_sc_prev_id2
rr_h_sc_prev_id3
rr_h_sc_prev_id4
rr_m_blood01
rr_m_blood02
rr_m_blood03
rr_m_blood04
rr_m_blood05
rr_m_blood06
rr_m_blood07
rr_m_blood08
rr_m_blood09
rr_m_blood10
rr_m_blood11
rr_m_blood12
rr_m_blood13
rr_m_blood14
rr_a_deviation
rr_a_deviation3f
rr_a_race_count
rr_r_err
rr_r_breeder_code
upd_t